@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: #f1f5f9;
  background-color: #1e293b; */
  background-color: #f8fafc;
  color: #0f172a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  max-width: 	1024px;
  margin: 0 auto;
  padding: 2rem;
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  border-left: 5px solid #a3a3a3;
  background: #e5e5e5;
  border-radius: 5px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

.details.open .summary ~ * {
  animation: sweep .4s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px; margin-right: 10px}
  100%  {opacity: 1; margin-left: 0px; margin-right: 0px}
}

q {
  font-style: italic;
}

ol {
  list-style: decimal;
}

code {
  background-color: rgba(0, 0, 0, 0.1);
}